<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->


<mapper namespace="com.pay.posp.manage.dao.ITblCardDao">
	<resultMap id="TblCardResult" type="TblCard">
		<result property="fldCardNo" column="fldCardNo" />
		<result property="fldHostCode" column="fldHostCode" />
	</resultMap>
	<select id="selectTblCard" resultMap="TblCardResult" parameterType="TblCard">
		SELECT * FROM
		tblCard
		WHERE 
		     fldCardNo = #{fldCardNo} 
	</select>
</mapper>

